In [1]:
import numpy as np 
import pandas as pd

# Read the data
deal_data = pd.read_csv(r'C:\Users\Yan Jin\OneDrive - croissants\Desktop\学习资料\HKU\MFIN7033 Advanced Financial Programming and Databases\Assignment\2022 Fall MFIN7033\2022 Fall Projects\Data transformation\data\deal_level_data.csv')
quarter_data = pd.read_csv(r'C:\Users\Yan Jin\OneDrive - croissants\Desktop\学习资料\HKU\MFIN7033 Advanced Financial Programming and Databases\Assignment\2022 Fall MFIN7033\2022 Fall Projects\Data transformation\data\quarter_level_data.csv')

In [ ]:
# Data exploration
deal_data.head()
quarter_data.head()
deal_data.shape # (3005,1467)
quarter_data.shape  # (75125,42)
deal_data.columns,to_list()
quarter_data.columns.to_list()
# 75125/3005 = 25 so the logic is to divide the deal data according to the quarters

In [23]:
# transform the data into quarter level
for i in range(quarter_data.shape[0]):
    deal = quarter_data.iloc[i,:]
    acquirer_name = deal['Acquirer_Name_clean']
    target_name = deal['Target_Name_clean']
    quarter_to_event = deal['quarter_to_the_event_date']

    if quarter_to_event < 0:
        for j in range(16,42):
            deal_index = deal.index[j]
            deal[deal_index] = deal_data.loc[(deal_data['Acquirer_Name_clean'] == acquirer_name) & (deal_data['Target_Name_clean'] == target_name)]\
                .loc[:,deal_index+'__'+str(-quarter_to_event)]
        quarter_data.iloc[i,:] = deal

    if quarter_to_event > 0:
        for j in range(16,42):
            deal_index = deal.index[j]
            deal[deal_index] = deal_data.loc[(deal_data['Acquirer_Name_clean'] == acquirer_name) & (deal_data['Target_Name_clean'] == target_name)]\
                .loc[:,deal_index+'_'+str(quarter_to_event)]
        quarter_data.iloc[i,:] = deal
    
    if quarter_to_event == 0:
        for j in range(16,42):
            deal_index = deal.index[j]
            deal[deal_index] = deal_data.loc[(deal_data['Acquirer_Name_clean'] == acquirer_name) & (deal_data['Target_Name_clean'] == target_name)]\
                .loc[:,deal_index]
        quarter_data.iloc[i,:] = deal

C:\Users\Yan Jin\AppData\Local\Temp\ipykernel_7532\368279855.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deal[deal_index] = deal_data.loc[(deal_data['Acquirer_Name_clean'] == acquirer_name) & (deal_data['Target_Name_clean'] == target_name)]\
C:\Users\Yan Jin\AppData\Local\Temp\ipykernel_7532\368279855.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deal[deal_index] = deal_data.loc[(deal_data['Acquirer_Name_clean'] == acquirer_name) & (deal_data['Target_Name_clean'] == target_name)]\
C:\Users\Yan Jin\AppData\Local\Temp\ipykernel_7532\368279855.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deal[deal_index] = deal_data.loc[(deal_data['Acquirer_Name_clean'] == acquirer_name) & (deal_data['Target_Name_clean'] == target_name)]\

In [22]:
# take the first 1000 data from quarter data
quarter_data1 = quarter_data.iloc[:1000,:]

In [24]:
quarter_data == quarter_data1

,Deal_Number,Date_Announced,Year_Announced,Acquirer_Name_clean,Acquirer_Primary_SIC,Acquirer_State_abbr,Acquirer_CUSIP,Acquirer_Ticker,Target_Name_clean,Target_Primary_SIC,...,Tar_NII,Tar_NIM,Tar_ROA,Tar_Total_Assets,Tar_AvgSalary,Tar_EmployNum,Tar_TtlSalary,Tar_AvgSalary_log,Tar_EmployNum_log,Tar_TtlSalary_log
0,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
1,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
2,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
4,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
996,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
997,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
998,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
999,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False