In [1]:
import numpy as np 
import pandas as pd

# Read the data
df1 = pd.read_csv(r'C:\Users\Yan Jin\OneDrive - croissants\Desktop\学习资料\HKU\MFIN7033 Advanced Financial Programming and Databases\Assignment\2022 Fall MFIN7033\2022 Fall Projects\Data concatenation\data\2014.csv')
df2 = pd.read_csv(r'C:\Users\Yan Jin\OneDrive - croissants\Desktop\学习资料\HKU\MFIN7033 Advanced Financial Programming and Databases\Assignment\2022 Fall MFIN7033\2022 Fall Projects\Data concatenation\data\2015.csv')

In [20]:
# data exploration
df1.head()
df2.head()
df1.shape   #(54492, 58)
df2.shape   #(39706, 58)

# check the columns
if df1.columns.tolist() == df2.columns.tolist():
    print('The columns are the same')

The columns are the same

In [9]:
# concatenate the data
df = pd.concat([df1, df2], axis=0, ignore_index=True)

# check the shape
df.head()
df.shape   #(94198, 58)

,Unnamed: 0,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,...,10th Percentile,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change,id_site,id_chemical
0,1,1,3,10,44201,1,30.498001,-87.881412,NAD83,Ozone,...,0.025,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, FAIRHOPE, ALABAMA",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2015-02-02,1_3_10,1_3_10_44201
1,3,1,3,10,68101,1,30.498001,-87.881412,NAD83,Sample Flow Rate- CV,...,0.050,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, FAIRHOPE, ALABAMA",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2015-02-02,1_3_10,1_3_10_68101
2,4,1,3,10,68102,1,30.498001,-87.881412,NAD83,Sample Volume,...,24.100,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, FAIRHOPE, ALABAMA",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2015-02-02,1_3_10,1_3_10_68102
3,5,1,3,10,68105,1,30.498001,-87.881412,NAD83,Ambient Temperature,...,8.600,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, FAIRHOPE, ALABAMA",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2015-02-02,1_3_10,1_3_10_68105
4,6,1,3,10,68108,1,30.498001,-87.881412,NAD83,Sample Baro Pressure,...,754.000,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, FAIRHOPE, ALABAMA",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2015-02-02,1_3_10,1_3_10_68108

In [23]:
# store the data into the csv file
df.to_csv(r'C:\Users\Yan Jin\OneDrive - croissants\Desktop\学习资料\HKU\MFIN7033 Advanced Financial Programming and Databases\Assignment\2022 Fall MFIN7033\2022 Fall Projects\Data concatenation\data\output.csv', index=False)