In [2]:
from vincenty import vincenty
import googlemaps
from datetime import datetime
import pandas as pd

In [11]:
comp_data = pd.read_excel("./data/coname_addresses.xlsx")
gmaps = googlemaps.Client(key='AIzaSyCUN7kSsaFFVDa954PG_Ldu50ZPB6w8POc')
# geocode_result = gmaps.geocode('1600 Amphitheatre Parkway, Mountain View, CA')
WhiteHouse = (38.8976763, -77.0365298)

In [12]:
comp_data.head()

,Unnamed: 0,CONAME,address
0,0,AAR CORP,"One AAR Place, 1100 North Wood Dale Road, Wood..."
1,1,AMERICAN AIRLINES GROUP INC,"4333 Amon Carter Boulevard, Fort Worth, TX, 76155"
2,2,PINNACLE WEST CAPITAL CORP,"400 North 5th Street, Phoenix, AZ, 85004"
3,3,AARON'S INC,"309 East Paces Ferry Road, NE, Atlanta, GA, 30305"
4,4,ABBOTT LABORATORIES,"100 Abbott Park Road, Abbott Park, IL, 60064"

In [ ]:
output = pd.DataFrame()
for i in range(comp_data.shape[0]):
    data_comp = comp_data.iloc[i]
    coname = data_comp['CONAME']
    address = data_comp['address']
    geocode_result = gmaps.geocode(address)
    lat = geocode_result[0]['geometry']['location']['lat']
    lng = geocode_result[0]['geometry']['location']['lng']
    distance = vincenty((lat, lng), WhiteHouse)
    output = output.append({'CONAME': coname, 'address': address, 'lat': lat, 'lng': lng, 'distance': distance}, ignore_index=True)

In [ ]:
# export to excel
output.to_excel("output.xlsx", index=False)