In [1]:
from vincenty import vincenty
import googlemaps
from datetime import datetime
import pandas as pd
import time
import numpy as np

In [2]:
comp_data = pd.read_excel("./data/coname_addresses.xlsx")
gmaps = googlemaps.Client(key='AIzaSyBP9a_wlCkhsKDNFtdtBNOjplpLLgJAK88')
# geocode_result = gmaps.geocode('1600 Amphitheatre Parkway, Mountain View, CA')
WhiteHouse = (38.8976763, -77.0365298)

 API queries_quota: 60

In [3]:
comp_data.head()

,Unnamed: 0,CONAME,address
0,0,AAR CORP,"One AAR Place, 1100 North Wood Dale Road, Wood..."
1,1,AMERICAN AIRLINES GROUP INC,"4333 Amon Carter Boulevard, Fort Worth, TX, 76155"
2,2,PINNACLE WEST CAPITAL CORP,"400 North 5th Street, Phoenix, AZ, 85004"
3,3,AARON'S INC,"309 East Paces Ferry Road, NE, Atlanta, GA, 30305"
4,4,ABBOTT LABORATORIES,"100 Abbott Park Road, Abbott Park, IL, 60064"

In [10]:
output = pd.DataFrame()
# initialize the output dataframe
output['index'] = comp_data.index
output['CONAME'] = comp_data['CONAME']
output['address'] = comp_data['address']
output['distance'] = 0
output['lat'] = 0
output['lng'] = 0

In [5]:
#output = pd.read_excel("output.xlsx")
output = pd.read_excel("temp.xlsx")

In [6]:

for i in range(comp_data.shape[0]):
    #sleep for 1 sec
    if output['distance'][i] == 0:
        
        data_comp = comp_data.iloc[i]
        coname = data_comp['CONAME']
        address = data_comp['address']
        geocode_result = gmaps.geocode(address)
        try:
            lat = geocode_result[0]['geometry']['location']['lat']
            lng = geocode_result[0]['geometry']['location']['lng']
            distance = vincenty((lat, lng), WhiteHouse)

            output['distance'][i] = distance    
            output['lat'][i] = lat
            output['lng'][i] = lng
        except:
            print("Error: ", i, coname, address)
            pass
        output.to_excel("temp.xlsx", index=False)
        time.sleep(np.random.uniform(2, 4))

Error:  593 CAPSTEAD MORTGAGE CORP nan
Error:  1009 RENAISSANCERE HOLDINGS LTD Renaissance House, 12 Crow Lane, Pembroke, HM 19
Error:  1213 INTUITIVE SURGICAL INC nan

/tmp/ipykernel_2971/2905616328.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['distance'][i] = distance
/tmp/ipykernel_2971/2905616328.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['lat'][i] = lat
/tmp/ipykernel_2971/2905616328.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['lng'][i] = lng

In [7]:
temp = pd.read_excel("temp.xlsx")
#output[output['distance'] == 0].shape[0]
temp[temp['distance'] == 0].shape[0]

3

In [8]:
temp.to_excel("output2.xlsx", index=False)

In [14]:
# count the number of zero distance
geocode_result = gmaps.geocode(comp_data.iloc[593]['address'])

In [15]:
geocode_result[0]

IndexError: list index out of range

In [9]:
lat = geocode_result[0]['geometry']['location']['lat']
lng = geocode_result[0]['geometry']['location']['lng']

In [52]:
# export to excel
output.to_excel("output.xlsx", index=False)

In [11]:
output['distance'][1100]

0.0