In [15]:
from vincenty import vincenty
import googlemaps
from datetime import datetime
import pandas as pd
import time
import numpy as np

In [16]:
comp_data = pd.read_excel("./data/coname_addresses.xlsx")
gmaps = googlemaps.Client(key='AIzaSyBP9a_wlCkhsKDNFtdtBNOjplpLLgJAK88')
# geocode_result = gmaps.geocode('1600 Amphitheatre Parkway, Mountain View, CA')
WhiteHouse = (38.8976763, -77.0365298)

In [8]:
comp_data.head()

,Unnamed: 0,CONAME,address
0,0,AAR CORP,"One AAR Place, 1100 North Wood Dale Road, Wood..."
1,1,AMERICAN AIRLINES GROUP INC,"4333 Amon Carter Boulevard, Fort Worth, TX, 76155"
2,2,PINNACLE WEST CAPITAL CORP,"400 North 5th Street, Phoenix, AZ, 85004"
3,3,AARON'S INC,"309 East Paces Ferry Road, NE, Atlanta, GA, 30305"
4,4,ABBOTT LABORATORIES,"100 Abbott Park Road, Abbott Park, IL, 60064"

In [10]:
output = pd.DataFrame()
# initialize the output dataframe
output['index'] = comp_data.index
output['CONAME'] = comp_data['CONAME']
output['address'] = comp_data['address']
output['distance'] = 0
output['lat'] = 0
output['lng'] = 0

In [17]:
output = pd.read_excel("output.xlsx")

In [18]:

for i in range(comp_data.shape[0]):
    #sleep for 1 sec
    if output['distance'][i] == 0:
        data_comp = comp_data.iloc[i]
        coname = data_comp['CONAME']
        address = data_comp['address']
        geocode_result = gmaps.geocode(address)
        lat = geocode_result[0]['geometry']['location']['lat']
        lng = geocode_result[0]['geometry']['location']['lng']
        distance = vincenty((lat, lng), WhiteHouse)

        output['distance'][i] = distance    
        output['lat'][i] = lat
        output['lng'][i] = lng
        time.sleep(np.random.uniform(2, 4))

IndexError: list index out of range

In [49]:
# count the number of zero distance
output[output['distance'] == 0].shape[0]

898

In [52]:
# export to excel
output.to_excel("output.xlsx", index=False)